<form [formGroup]="invoiceForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="invoice-card">
      <mat-card-header>
        <mat-card-title>Invoice Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Vendedor" formControlName="vendedor">
                <!-- for para los vendedores -->
                <mat-option value="entregado">entregado</mat-option>
                <!-- <mat-option value="pendiente">pendiente</mat-option>
                <mat-option value="cancelado">cancelado</mat-option> -->
              </mat-select>
              <mat-error *ngIf="invoiceForm.controls['status'].hasError('required')">
                Status es <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Cliente" formControlName="cliente">
                <!-- for para los clientes -->
                <mat-option value="entregado">entregado</mat-option>
                <!-- <mat-option value="pendiente">pendiente</mat-option>
                <mat-option value="cancelado">cancelado</mat-option> -->
              </mat-select>
              <mat-error *ngIf="invoiceForm.controls['status'].hasError('required')">
                Status es <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input formControlName="date" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle  matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="invoiceForm.controls['date'].hasError('required')">
                  fecha es <strong>requerida</strong>
                </mat-error>
              </mat-form-field>
            
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Status" formControlName="status">
                <mat-option value="entregado">entregado</mat-option>
                <mat-option value="pendiente">pendiente</mat-option>
                <mat-option value="cancelado">cancelado</mat-option>
              </mat-select>
              <mat-error *ngIf="invoiceForm.controls['status'].hasError('required')">
                Status es <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
  