
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isWeb$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isWeb$ | async) ? 'over' : 'side'"
      [opened]="(isWeb$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href=""><span class="material-symbols-outlined">
        home
        </span> Inicio</a>
      <a mat-list-item href="/Productos"> <span class="material-symbols-outlined">
        inventory_2
        </span> Productos</a>
      <a mat-list-item href="/Usuario"> <span class="material-symbols-outlined">
        group
        </span> Usuario</a>
      <a mat-list-item href="/Persona"> <span class="material-symbols-outlined">
        person
        </span>Persona</a>
      <a mat-list-item href="/Factura"> <span class="material-symbols-outlined">
        receipt_long
        </span> Factura</a>
      <!-- <a mat-list-item href="/CarritoCompras"> <span class="material-symbols-outlined">
        shopping_cart
        </span> Carrito de Compras</a> -->
      <a mat-list-item href="Permisos"> <span class="material-symbols-outlined">
        vpn_key
        </span> Permisos</a>
      <!-- <a mat-list-item href="Publicidad"> <span class="material-symbols-outlined">
        campaign
        </span> Publicidad</a> -->
      <!-- <a mat-list-item href="RegistroLogin"> <span class="material-symbols-outlined">
        fact_check
        </span> Registros de login</a> -->
      <a mat-list-item href="" (click)="cerrar()"> <span class="material-symbols-outlined">
        logout
        </span> Cerrar Sesion</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isWeb$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>EcommerceFE</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
